
body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #00925F;
}

p, h1, h2, h3, h4, h5, h6, ul, dl, dd, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #FBFBFB;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}
#header, #main, #footer {
    width: 100%;
    margin: 0 auto;
}

#header {
    height: 35px;
    background-color: #2CAD6F;
}

.header-content {
    width: 1190px;
}

.header-content ul {
    margin-left: 196px;
}

.header-content > ul > li {
    float: left;
    line-height: 35px;
}

.header-content a {
    color: #FFF;
    padding: 8px 20px;
    border-left: 1px solid #58B488;
    font-size: 14px;
}

.header-content .border-0 {
    border: none;
}
.border1{
    width:1000px;
    height:700px;
    border:2px solid #2CAD6F;
    border-radius:10px;
    margin:80px auto;
    box-shadow:10px 10px 20px #2CAD6F;
}
.border2{
    width:1000px;
    height:100px;
    border-bottom:1px solid #E1E1E1;
    text-align:center;
    font-size:24px;
    color:#393939;
    line-height:100px;
}
form{
    background-color: #FBFBFB;
    width: 322px;
    min-height: 202px;
    margin:30px auto;
}
input{
    float:left;
}
.code{
    width: 320px;
    height: 45px;
    font-size: 20px;
    outline: none;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-top: 20px;
    transition: border 0.3s linear;
}
.code:focus {
    border: 1px solid #00925F;
}
.lf{
    margin-top:20px;
    margin-bottom:5px;
}
.lf span a{
    color:#00925F;
}
.now-register{
    width: 320px;
    height: 45px;
    border: 1px solid #E2E2E2;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    background: #2CAD6F;
    margin-top: 25px;
    cursor: pointer;
}
