html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/animate.min.css">
</head>
<body>
<div id="header">
    <div class="header-content animated bounceIn">
        <ul>
            <li>
                <a href="" class="border-0">home</a>
            </li>
            <li>
                <a href="">sign up</a>
            </li>
            <li>
                <a href="">help center</a>
            </li>
        </ul>
    </div>
</div>
<div id="border" class="animated fadeIn">
    <div id="main">
        <div class="main-content1 animated bounceInLeft">
                <div class="logo">
                    <a href="">
                        <img src="" alt="">
                    </a>
                </div>
                <p>Sign up for more services</p>
            </div>
            <div class="inp">
                <div class="err"></div>
                <div class="main-content2 animated bounceInRight">
                    <input type="text" placeholder="Please enter e-mail/username" value="000000000000" class="text" autocomplete="off">
                </div>
                <div class="main-content3 animated bounceInLeft">
                    <input type="password" placeholder="please enter passaword" value="zhangji" class="text" autocomplete="off">
                </div>
                <div class="main-content4 animated bounceInRight">
                    <a href="#" class="safes">Forget passaword?</a>
                    <span class="safe">|</span>
                    <a href="#" class="safes">Having problems</a>
                </div>
            <button id="btn" class="main-content5 animated bounceInRight">Log in</button>
            </div>
        <a href="register.html" class="main-content6 animated bounceInLeft">
                Sign up
            </a>
    </div>
</div>
</body>
</html>
